@import "variables";

.cart-empty {
  h1 {
    font-family: $playfair-serif;
    font-size: 18px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  .cart-checkout-empty-splash {
  margin: auto;
  width: calc(900px / 2);
  }
}


.cart-full {

}

@media all and (max-width: 900px) {
  .cart-checkout-empty-splash {
    width: 50%;
  }
}

@media all and (max-width: 600px) {
  .cart-checkout-empty-splash {
    width: calc(100% * 2 / 3);
  }
}

@media all and (max-width: 450px) {
  .cart-checkout-empty-splash {
    width: 100%;
  }
}