@import "variables";

.feature-nav-display {
  display: flex;
}

.feature-nav-block-only {
  display: block;
}
  
.feature-nav {
  section{
    div {
      div {
        a {
          text-decoration: none;
          color: $black;
          padding-right: 5px;
          padding-left: 5px;
          position: relative;
        }
        display: flex;
        flex-direction: row;
      }
      a {
        span {
          padding: 0 5px;
        }
        text-decoration: none;
        color: $black;
        position: relative;
        font-size: 13px;
        display: flex;
        align-items: center;
        padding-right: 5px;
        padding-left: 5px;
      }
      display: flex;
      flex-direction: row;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 20px;
    font-family: $open-sans;
    width: 1000px;
  }
  background-color: $beige;
  padding-bottom: 5px;
  height: 24px;
  justify-content: center;
}

.feature-nav section div a:not(:first-of-type) {
  border-left: 2px solid white;
}

[class*="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: top;
  overflow: hidden;
  height: 20px;
  width: 18px;
  padding: 0px;
}

.icon-linkedin {
  background-image: image-url('icons/linkedin_icon.png');
  background-size: 70%;
  background-position: 5px 5px;
  padding: 3px
}

.icon-angel {
  background-image: image-url('icons/angel_icon.png');
  background-size: 43%;
  background-position: 7px 5px;
  padding: 3px
}

.icon-github {
  background-image: image-url('icons/github_icon.png');
  background-size: 62%;
  background-position: 5px 5px;
  padding: 3px
}

// .icon-gift {
//   background-image: image-url('icons/gift_icon.png');
//   background-size: 90%;
//   background-position: 5px 5px;
//   padding: 5px;
// }

.icon-user {
  background-image: image-url('icons/user_icon.png');
  background-size: 62%;
  background-position: 5px 4px;
  padding: 3px;
}

.icon-heart {
  background-image: image-url('icons/heart_icon.png');
  background-size: 70%;
  background-position: 4px 5px;
  padding: 3px;
}

.icon-flag {
  background-image: image-url('icons/flag_icon.png');
  background-size: 90%;
  background-position: 1px 6px;
  padding: 3px;
}

@media all and (max-width: 1000px) {
  .feature-nav section {
    width: 100%;
  }

  .feature-nav {
    section{
      div {
        font-size: 12px;
      }
    }
  }
}

@media all and (max-width: 640px) {
  #personal-links {
    display: none;
  }

  .feature-nav-display {
    display: none;
  }

  .feature-nav {
    section {
      div {
        a {
          div {
            display: flex;
            justify-content: center;
          }
          span {
            display: inline-block;
          }
          font-size: 12px;

          // margin-top: 37px;
          padding-top: 13px;
          padding-bottom: 15px;
          padding-left: 5px;
          padding-right: 5px;
          width: calc(100% / 3);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          top: 17px;
        }
        width: 100%;
      }
    }
    position: absolute;
    left: 0;
    width: 100%;
    height: 66px;
    top: 75px;
  }
}

