@import "variables";

.app-header {
  flex-wrap: nowrap;
}

.title-nav {
  .header-link {
    h1 {
      span {
        color: $dark-green;
        font-family: $roboto-serif;
      }

      font-size: 24px;
      color: $green;
      font-family: $pacifico-serif;
      padding: 10px 5px;
    }
    
    text-decoration: none;
  }

  width: 900px;
  height: 40px;
  padding: 10px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-search{
  input{
    border: none;
    width: 100%;
    height: 28px;
    padding: 0px;
  }

  button{
    box-sizing: border-box;
    border: none;
    height: 29px;
    width: 28px;
    padding: 5px 5px;
    border-left: 0.5px solid $dark-beige;
  }

  button:hover{
    cursor: pointer;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid $dark-beige;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 330px;
  height: 30px;
  box-sizing: content-box;
  padding: 0px 4px;
}

.title-search-results{
  li {
    a {
      display: inline-block;
      text-decoration: none;
      color: $black;
      font-family: $open-sans;
      font-size: 12px;
      padding-left: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
    }
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid $dark-green;
    border-right: 1px solid $dark-green;
  }

  li:hover {
    background-color: $green;
    transition-duration: 0.2s;  
  }

  li:first-of-type {
    border-top: 1px solid $dark-green;
  }

  li:last-of-type {
    border-bottom: 1px solid $dark-green;
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  background-color: $white;
  width: 340px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
}

.title-search-outer {
}

.auto-enter {
   opacity: 0.01;
   transform: translateY(500%);
 }

 .auto-enter.auto-enter-active {
   opacity: 1;
   transform: translateY(0);
   transition: opacity 500ms, transform 500ms;
 }

 .auto-leave {
   opacity: 1;
   transform: translateY(0);
 }

 .auto-leave.auto-leave-active {
   opacity: 0.01;
   transform: translateY(500%);
   transition: opacity 500ms, transform 500ms;
 }

::placeholder{
  color: $dark-beige;
}

.title-cart {
  .title-cart-inner {
    button {
      padding: 0;
    }
    position: relative;
  }

  .title-cart-inner:hover {
    cursor: pointer;
  }

  button {
    border: none;
  }

  button:hover {
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: $dark-green;
    font-family: $playfair-serif;
    font-size: 12px;
    font-weight: bolder;
    padding: 2px 10px;
    border-left: 1.5px solid $black;
  }
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 10px;
}


[class*="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20px;
  width: 20px;
}

.icon-search {
  background-image: image-url('icons/search_icon.png');
  background-size: 60%;
  background-position: 5px 4px;
}


.icon-cart {
  height: 25px;
  width: 25px;
  background-image: image-url('icons/cart_icon.png');
  background-size: 55%;
  background-position: 8px 2px;
  padding-left: 7px;
  padding-right: 7px;
}

.title-nav-empty-cart-icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: image-url('icons/empty_cart_icon.png');
  background-size: 55%;
  background-position: 8px 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.title-nav-cart-count {
  display: flex;
  justify-content: center;
  height: 15px;
  width: 15px;
  position: absolute;
  font-family: $arial-helvetica-sans;
  font-size: 10px;
  font-weight: 900;
  color: $dark-green;
  right: 11px;
  top: 5px;
}

@media all and (max-width: 900px) {
  .title-nav {
    width: 100%;
  }
  .title-cart {
    padding-left: 0;
  }

}

@media all and (max-width: 650px) {
  .title-search{
    width: calc(100vw - 330px)
  }

  .title-search-results{
    width: calc(100vw - 320px)
  }
}

@media all and (max-width: 450px) {
  .app-header {
    .title-nav{
      .title-search-outer {
        .title-search {
          button {
            .icon-search {
              background-size: 40%;
              background-position: 9px 4px;
              padding-left: 5px;
              padding-right: 5px;
            }
            display: flex;
            justify-content: center;
            align-content: center;
            border: none;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
          }
          border: none;
          display: block;
          height: 100%;
          width: 100%;
        }
        input {
          display: none;
        }
        display: inline-block;
        border: none;
        width: 30px;
        height: 45px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      
      .title-cart {
        .title-cart-inner {
          button {
            .icon-cart {
              background-size: 50%;
              background-position: 7px 4px;
              padding-left: 5px;
              padding-right: 5px;
              height: 20px;
              width: 20px;
            }
            display: flex;
            justify-content: center;
            align-content: center;
            border: none;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
          }
          border: none;
          display: block;
          height: 100%;
          width: 100%;
        }
        a {
          display: none;
        }
        display: inline-block;
        border: none;
        width: 30px;
        height: 45px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      display: flex;
      align-items: center;
      padding: 0;
    }
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: nowrap;
  }

  .title-nav-cart-count {
    font-size: 8px;
    right: 5px;
    top: 14px;
  }
}

@media all and (max-width: 350px) {
  .app-header {
    .title-nav {
      .title-search-outer,
      .title-cart {
        display: none;
      }
    }
  }
}