@import "variables";

.cart-panel-outer,
.ship-panel-outer {
  position: absolute;
}

.cart-modal-screen,
.ship-modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.cart-modal-section {
  overflow-y: scroll;
}

.ship-modal-section {
  overflow: hidden;
}

.cart-modal-section,
.ship-modal-section {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  background: $white;
  height: 100%;
  width: 330px;
  padding: 10px 10px;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.cart-panel-outer {
  .cart-panel-header {
    .cart-panel-icon-count {
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 4;
      left: calc(50% - 6px) ;
      top: -1px;
      height: 15px;
      width: 15px;
      font-family: $arial-helvetica-sans;
      font-size: 15px;
      font-weight: 900;
      color: $dark-green;
    }

    h1 {
      font-family: $playfair-serif;
      font-size: 18px;
      padding: 10px;
      display: flex;
      justify-content: center;
    }

    h2 {
      font-family: $arial-helvetica-sans;
      font-weight: 900;
      font-size: 14px;
      padding-top: 25px;
      display: flex;
      justify-content: center;
    }

    i {
      display: inline-block;
      background-image: image-url('icons/empty_cart_icon.png');
      background-size: 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 25px;
      width: 25px;
      margin: 0 auto;
    }

    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  .cart-panel-body {
    ul {
      li {
        .cart-panel-details {
          a{
            img {
              width: 50px;
              height: 50px;
            }
          }

          div {
            h2 {
              padding-left: 10px;
              padding-right: 15px;
              font-family: $playfair-serif;
              font-size: 14px;
            }
          }
          display: flex;
          flex-direction: row;
          justify-content: left;
          width: calc(100% - 50px);
        }

        .cart-panel-qty-price {
          p {
            display: flex;
            justify-content: center;
            font-family: $open-sans;
            font-size: 12px;
            padding-bottom: 5px;
          }
          display: flex;
          flex-direction: column;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 0;
      }
    }

    .view-cart-btn {
      h1 {
        display: flex;
        justify-content: center;
        font-size: 14px;
        padding-bottom: 3px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      color: white;
      font-size: 14px;
      background-color: $darkest-green;
      font-family: $playfair-serif;
      border-radius: 4px;
      padding: 10px;
      text-decoration: none;
      box-sizing: border-box;
      margin: 10px 0;
    }

    .view-cart-btn:hover {
      cursor: pointer;
      color: $black;
      background-color: $sea-green;
      transition-duration: 0.2s;
    }
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
  width: calc(100% - 20px);
  
}

.ship-panel-outer {
  .ship-panel-header {
    i{
      display: inline-block;
      background-image: image-url('icons/flag_icon.png');
      background-size: 100%;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 20px;
      width: 20px;
      margin: 0 auto;
    }
    h1 {
      font-family: $playfair-serif;
      font-size: 24px;
      padding: 10px;
      display: flex;
      justify-content: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    padding-bottom: 10px;
  }
  .ship-panel-body {
    div {
      label {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: $open-sans;
        font-size: 14px;
      }
      select {
        font-size: 14px;
        font-family: $open-sans;
        width: 100%;
        height: 36px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        background-color: white;
        -webkit-appearance: none;
        border-radius: 2px;
        background-image:
          linear-gradient(45deg, transparent 50%, grey 50%),
          linear-gradient(135deg, grey 50%, transparent 50%),
          linear-gradient(to right, white, white);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
      }
      display: flex;
      flex-direction: column;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 46px;
      color: white;
      font-size: 16px;
      background-color: $darkest-green;
      font-family: $playfair-serif;
      border-radius: 4px;
      padding: 10px;
      text-decoration: none;
      box-sizing: border-box;
      margin-top: 15px;
      margin-bottom: 20px;
    }

    button:hover {
      cursor: pointer;
      color: $black;
      background-color: $sea-green;
      transition-duration: 0.2s;
      content: "res";
    }

    a {
      font-family: $open-sans;
      font-size: 14px;
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
    padding: 0 20px;
  }
  width: calc(100% - 20px);
}

@media all and (max-width: 1000px) {
  .cart-modal-section,
  .ship-modal-section {
    width: calc(100% / 3 + 30px);
  }

  .cart-panel-outer {
    width: calc(100% - 20px);
  }
}

@media all and (max-width: 800px) {
  .cart-modal-section,
  .ship-modal-section {
    width: calc(100% / 2 + 30px);
  }

  .cart-panel-outer {
    width: calc(100% - 20px);
  }
}

@media all and (max-width: 640px) {
  .cart-modal-section,
  .ship-modal-section {
    width: calc(100% / 1.5 + 40px);
  }
}