@import "variables";

.background-products {
  position: relative;
  padding-top: 25px;
  width: 1200px;
  margin: auto;
  background-color: white;
  box-sizing: border-box;
}

.products {
}

.header-background-outer {
  padding-left: 5px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  display: block;
  overflow: hidden;
}

.header-background {
  height: 400px;
  box-sizing: border-box;
}
.links-nav {
  hr {
    display: inline-block;
    vertical-align: top;
    background-image: image-url('wave.png');
    background-repeat: repeat;
    overflow: hidden;
    background-size: 15%;
    height: 12px;
    width: 330px;
    border: none;
    margin: 5px auto;
    filter: saturate(6);
  }

  div div, div {
    a{
      text-decoration: none;
      color: $black;
      padding: 0 12px;
      font-size: 14px;
      font-family: $open-sans;
    }

    a:hover{
      text-decoration: underline;
      text-decoration-color: $dark-green;
      transition-duration: 0.2s;
    }

    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: $playfair-serif;
    margin: 12px;
    display: flex;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.links-nav div a:not(:first-of-type),
.links-nav div div a:not(:first-of-type) {
  border-left: 1px solid $black;
}

.products ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
}

.products-index-item {
  > a {
      img {
        width: 100%;
        border: 1px solid $light-gray;
      }

      h2 {
        display: block;
        font-family: $playfair-serif;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      span:hover {
        text-decoration: underline;
        text-decoration-color: $dark-green;
        transition-duration: 0.2s;
      }
      color: $black;
      text-decoration: none;
  }

  span {
    margin-bottom: 15px;
    font-family: $open-sans;
    font-size: 14px;
  }

  box-sizing: border-box;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
  width: calc(100% / 5);
}

@media all and (max-width: 1200px) {
  .background-products {
    width: 100%;
  }

  .products-index-item {
    width: calc(100% / 4);
  }
}

@media all and (max-width: 1000px) {
  .products-index-item {
    width: calc(100% / 2);
  }

  .header-background {
    height: 300px;
  }
}

@media all and (max-width: 800px) {
  .background-products {
    padding-top: 15px;
  }

  .links-nav {
    div div, 
    div {
      a{
        font-size: 11px;
      }
    }
  }
}

@media all and (max-width: 640px) {
  .background-products {
    background-color: $beige;
    padding-top: 10px;
    margin-top: 76px;
  }

  .links-nav hr, .links-nav div:not(:first-of-type) {
    display:none;
  }

  .links-nav {
    padding: 0px;
    font-size: 20px;
  }

  .links-nav div div a:not(:first-of-type) {
    border-left: none;
  }

  .links-nav {
    div {
      label {
        font-size: 16px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      div {
        a {
          p{
            font-size: 12px;
            padding:12px;
            font-family: $playfair-serif;
          }
        width: 50%;
        margin: 0;
        padding: 0;
        border-top: 1px solid $beige;
        display: flex;
        justify-content: center;
        }
        width: calc(100% + 0px);
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px;
    }
    font-family: $playfair-serif;
    background-color: white;
    border: 1px solid $green; 
    width: calc(100% - 20px);
    margin-left: 10px;
    position: relative;
    top: -14px;
    
  }

  .products {
    border: 1px solid $green;
    margin: 10px;
  }

  // .products-index-item {
  //   width: 100%;
  //   background: white;
  //   padding-left: 10px;
  //   padding-right: 10px;
  // }
}