@import "variables";

#under-construction-container {
  div {
    h1 {
      display: flex;
      justify-content: center;
      font-family: $playfair-serif;
      font-size: 24px;
      margin-bottom: 10px;
      padding: 10px;
    }
    p{
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: $playfair-serif;
      font-size: 16px;
      line-height: 1.5;
      padding: 10px;
    }
    h2 {
      a {
        color: black;
        text-decoration-color: $sea-green;
      }
      a:hover {
        background-color: $sea-green;
        transition-duration: 0.5s;
      }
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      font-family: $playfair-serif;
      font-size: 18px;
      line-height: 1.5;
      padding: 10px;
    }
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10px;
  }
  
  box-sizing: border-box;
  height: 425px;
  width: 100%;
  
  background-image: image-url('perks.gif');
  background-repeat: no-repeat;
  background-position: 0px 100px;
  background-position-x: center;
}

@media all and (max-width: 640px) {
#under-construction-container {
    padding-top: 10px;
    margin-top: 90px;
  }
}