$black: #161616f3;
$white: #fff;
$beige: #E8E4DF;
$medium-beige: #F7F2ED;
$dark-beige: #BCAA95;
$light-gray: #DBDBDB;
$green: #D9EBEB;
$medium-green: #A2D5D4;
$dark-green: #0C8346;
$darkest-green: #0D635C;
$sea-green: #1CC9B5;
$dark-sea-green:#138E80;
$gold: #e4cfa8;


$open-sans: 'Open Sans', sans-serif;
$playfair-serif: 'Playfair Display', serif;

$roboto-serif: 'Roboto Slab', serif;
$roboto-sans: 'Roboto', sans-serif;

$pacifico-serif: 'Pacifico', cursive;
$arial-helvetica-sans: Arial, Helvetica, sans-serif